/* ==========================================================================
   Teaching timeline
   ========================================================================== */

.teaching-timeline {
  margin-top: 2em;
}

.teaching-timeline__item {
  position: relative;
  display: grid;
  grid-template-columns: 9rem 1fr;
  column-gap: 1.5rem;
  padding-bottom: 2rem;

  &::before {
    position: absolute;
    top: 0.4rem;
    bottom: 0;
    left: 9.65rem;
    width: 1px;
    background: $border-color;
    content: "";
  }

  &:last-child {
    padding-bottom: 0;

    &::before {
      display: none;
    }
  }
}

.teaching-timeline__date {
  padding-top: 0.05rem;
  color: $gray;
  font-weight: bold;
  text-align: right;
}

.teaching-timeline__content {
  position: relative;
}

.teaching-timeline__institution {
  margin: 0;
  font-family: $sans-serif-narrow;
  font-size: $type-size-4;
}

.teaching-timeline__role {
  margin: 0.25rem 0 0;
}

.teaching-timeline__courses {
  margin: 0.65rem 0 0;
  padding-left: 1.25rem;

  li + li {
    margin-top: 0.25rem;
  }
}

.teaching-timeline__role {
  color: $gray;
}

.teaching-timeline__location {
  font-style: italic;
}

@include breakpoint(max-width $small) {
  .teaching-timeline__item {
    grid-template-columns: 1fr;
    padding-left: 1.5rem;

    &::before {
      left: 0.3rem;
    }
  }

  .teaching-timeline__date {
    text-align: left;
  }

}
